#main-win {
    left: 27%;
    top: 10%;
    max-width: 500px;
}

#about-win {
    max-width: 400px;
}

#self-promo {
    max-width: 250px;
}

#blinkie-win {
    left: 84%;
}

#blinkie-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4em;
}

#blinkie-win img {
    flex: auto;
}

#changelog-win {
    left: 3%;
    top: 20%;
    max-width: 400px;
}

#changelog-wrapper {
    margin-bottom: 1.4ex;
}

#changelog-win div.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#site-resources {
    max-width: 450px;
}

#neocities-resources {
    max-height: 350px;
    max-width: 960px;
}

#random-win {
    left: 70%;
    top: 80%;
}

#footer-win {
    top: 65%;
    left: 1%;
}

@media (max-width: 960px) {
    #blinkie-win {
        flex: 1;
    }

    #blinkie-win div.content {
        overflow: auto;
    }

    #blinkie-win, #changelog-win {
        height: 250px;
    }

    #blinkie-wrapper {
        flex-flow: row wrap;
    }

    /* wish it weren't necessary to repeat but COME ON! */
    /* div.wrapper {
        max-width: unset;
    } */
}
