:root {
    --nav-border: 2px solid var(--accent);

    --win-border: 1px solid black;
    --win-background: #000a;

    --button-hover: #bbb3;
    --button-activate: #bbb5;
}

/* BODY settings for main */

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;  
    overflow-y: auto;
}

/* MAIN HEADER, main header children. */
#main-header {
    backdrop-filter: blur(20px);
    display: flex;
    flex-flow: row wrap;
    height: auto;
}

#main-header > marquee {
    margin: 1ex 0;
}

div.middle-wrapper {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
}

img#long-worm {
    display: block;
    filter: drop-shadow(0 0 9px black);
    max-height: 100px;
    margin: 0 auto 1em;
}

.menu-wrapper {
    display: flex;
    flex: 0 1 30%;
    flex-flow: column wrap;
    gap: 8px;
    justify-content: center;
    max-height: 100px; /* to match the worm's height. make variable? */
    overflow: hidden;
    padding: 0 4em;
}

.menu-item {
    align-items: center;
    background: transparent;
    border: none;
    color: var(--font-color);
    display: flex;
    flex: 0 2 auto;
    flex-flow: column;
    gap: 1ex;
    max-width: 50%;
    min-width: 20%;
    padding: 3px;
}

.menu-item:hover {
    background: var(--button-hover);
    color: unset!important;
}

.menu-item:active {
    background: var(--button-activate);
    color: unset!important;
}

.menu-item:visited {
    color: unset!important;
}

.menu-wrapper span {
    text-transform: uppercase;
}

.menu-wrapper img {
    width: 30px;
}

/* NAV LINK, within header. */
nav {
    align-self: baseline;
    background-color: var(--win-background);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 100%;
    justify-content: space-between;
    padding: 1ex 3ex;
}

nav span {
    color: var(--accent);
    opacity: 50%;
    text-align: center;
}

/* link wrappers, within nav. */
div.link-wrapper {
    min-width: 40%;
}

.link-wrapper:last-child {
    text-align: right;
}

/* nav links, within link wrappers. */
nav a:not(:first-child) {
    border-left: var(--nav-border);
}

nav a.external, nav a.external:visited {
    color: var(--accent);
}

nav a.external:hover, nav a.external:visited:hover {
    color: var(--accent-glow);
}


/* MAIN BODY CONTAINER--sibling of the header. */
main {
    flex-grow: 1;
    position: relative;
    height: 100vh;
}

.button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    margin: 1ex 0;
    justify-content: center;
    overflow: hidden;
    padding: 0 2em;
}

#friend-buttons, #other-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    flex-basis: 32%;
}

#friend-buttons {
    justify-content: end;
}

#other-buttons {
    justify-content: start;
}

img.little-img {
    margin: 0;
    max-width: 100px;
    min-width: 75px;
}

/* WINDOWS WITHIN MAIN */

/* 
a window is made up of a wrapper, a title, and content. 
absolute-positioned flexbox, which becomes a static part of another flexbox on mobile.
a free-elem is another element that can be dragged around the page. drag.js handles that.
*/
div.wrapper, div.free-elem {
    position: absolute;
}

div.free-elem {
    transition: transform 0.25s ease-in-out;
}

div.free-elem, div.title {
    cursor: grab;
}

div.wrapper {
    border: var(--win-border);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    position: absolute;
}

div.title {
    background-color: var(--accent);
    border: var(--content-border);
    padding: 0.2em 0.5em 0 1em;
}

div.title span {
    vertical-align: baseline;
}

div.content {
    background-color: var(--win-background);
    border: var(--content-border);
    padding: 2em;
    overflow: auto;
    height: 100%;
}

div.content > :first-child {
    margin-top: 0;
}


/* the forklifts */
#forklift1, #forklift2, #forklift3 {
    animation: sizeBounce 3s ease-in-out infinite alternate;
}

#forklift1 {
    animation-delay: .5s;
}

#forklift2 {
    animation-delay: 1s;
}

#forklift3 {
    animation-delay: 1.5s;
}

/* WINDOW POSITION ZONE */

#main-win {
    left: 27%;
    top: 10%;
    max-width: 500px;
}

#about-win {
    max-width: 400px;
}

#self-promo {
    max-width: 250px;
}

#blinkie-win {
    left: 84%;
}

#blinkie-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4em;
}

.blinkie {
    flex: 30%;
    image-rendering: crisp-edges;
}

#changelog-win {
    left: 3%;
    top: 20%;
    max-width: 400px;
}

#changelog-wrapper {
    margin-bottom: 1.4ex;
}

#site-resources {
    max-width: 450px;
}

#neocities-resources {
    max-height: 350px;
    max-width: 960px;
}

#random-win {
    left: 70%;
    top: 80%;
}

#footer-win {
    top: 65%;
    left: 1%;
}

@media (max-width: 960px) {
    /* display edits. */
    div.middle-wrapper {
        display: block!important;
        margin: 0;
    }
    
    #long-worm {
        display: none!important;
    }

    div.menu-wrapper {
        margin: 1em 0;
    }

    nav {
        flex-direction: column;
        overflow-x: auto;
        padding: 1ex 0;
    }

    main {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        height: unset;
        margin: 1em;
    }

    /* buttons: just display them in a big chunk */
    .button-wrapper {
        flex-wrap: wrap;
    }
    /* sort of "dissolves" the boundaries of these div's.    */
    #friend-buttons, #other-buttons {
        display: contents;
    }

    /* window box */
    div.wrapper {
        flex: 1 0 100%;
        position: static;
        max-width: unset!important; /* REALLY IMPORTANT ! */
        width: unset;
    }

    div.title {
        cursor: unset;
    }
    
    div.content {
        height: 100%;
    }

    /* push images to the background */
    div.free-elem {
        z-index: -1;
    }

    #blinkie-wrapper {
        flex-flow: row wrap;
    }

    #forklift2 {
        display: none
    }

    /* why only yellow on mobile? because of the vision i have. it only works with an element that takes up the full width, and right now that's the one in the header. it just looks ugly otherwise! damn. */
    .construction {
        background: #fcf95018;
    }
}
