:root {
    --page-bg: url("../images/carpet.png");

    --font-color: #fff;
    --font: 'VT323', monospace;
    --whisper-color: #bbb;
    --accent: #9313c5;

    --link: #61e20c;
    --link-hover: #cbf122;
    --link-visited: #13c74f;
    
    --content-border: 1px solid var(--accent);
    --win-border: 1px solid black;
    --win-background: #000a;
}

::selection, ::-moz-selection {
	background-color: var(--accent);
	color: #fff;
}

html, body {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

/* the rest of the css. */
body {
    background: var(--page-bg);
    color: var(--font-color);
    font-family: var(--font);
    overflow: hidden;
}

button, input[type=text] {
    background-color: black;
    border: var(--content-border);
    color: var(--font-color);
    font-family: var(--font);
    font-size: 1em;
}

button:hover:not(:disabled) {
    background-color: #1b1b1b;
}

button:disabled {
    color: var(--whisper-color);
}

input[type=text]:focus {
    border-color: var(--font-color);
}

ul {
    display: block;
    list-style-type: square;
    list-style-position: inside;
    margin: auto;
    padding: 0;
    width: fit-content;
}

li {
    text-indent: none;
}

img.little-img {
    max-width: 100px;
}

img.blinkie {
    image-rendering: crisp-edges;
    margin: 0 0.5em;
}

/* text styles */
.whisper {
    color: var(--whisper-color);    
    font-style: italic;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: var(--link-hover);
    text-transform: uppercase;
}

a:visited {
    color: var(--link-visited);
}

.major-update {
    color: var(--accent);
    font-style: italic;
    text-decoration: underline;
}

/* nav */
nav {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

nav > a {
    font-size: 1.3em;
    text-transform: uppercase;
}

nav > a, nav > a:visited {
    color: var(--link);
}

/* ****** SCROLL BAR ****** */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #0000;
}
 
::-webkit-scrollbar-thumb {
    background: #888a;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555a;
}

::-webkit-scrollbar-button {
    height: 4px;
}

/* animations */
.new {
    display: inline-block;

    /* animation */
    animation-name: rainbow, wobble;
    animation-duration: 2s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        color: hsl(0, 100%, 55%);
    } 12.5% {
        color: hsl(45, 100%, 55%);
    } 25% {
        color: hsl(90, 100%, 55%);
    } 37.5% {
        color: hsl(135, 100%, 55%);
    } 50% {
        color: hsl(180, 100%, 55%);
    } 62.5% {
        color: hsl(225, 100%, 55%);
    } 75% {
        color: hsl(270, 100%, 55%);
    } 87.5% {
        color: hsl(315, 100%, 55%);
    } 100% {
        color: hsl(360, 100%, 55%);
    }
}

@keyframes wobble {
    25% {
        transform: rotateY(55deg) rotate(-5deg);
    } 75% {
        transform: rotateY(-55deg) rotate(5deg);
    }
}
