:root {
    --page-bg: url("../images/carpet.png");

    --font: 'VT323', monospace;
    --font-color: #fff;
    --font-size: 16px;
    --accent: #9313c5;
    --accent-glow: #bd17d3;
    --secondary-accent: #f7f71c;
    --whisper-color: #bbb;

    --link: #61e20c;
    --link-hover: #cbf122;
    --link-visited: #13c74f;
    
    --content-border: 1px solid var(--accent);
}

/* defining scroll bar */
html {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #0000;
}
 
::-webkit-scrollbar-thumb {
    background: #888a;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555a;
}

::-webkit-scrollbar-button {
    height: 4px;
}


/* unselectable elements */
div.title, div.title span, img, div.free-elem {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* selection highlight affect */
::selection, ::-moz-selection {
	background-color: var(--accent);
	color: #fff;
}


/* body and body elements.. */
body {
    background: var(--page-bg);
    color: var(--font-color);
    font-family: var(--font);
    font-size: var(--font-size);
    margin: 0;
    overflow: hidden;
}


/* text styles */
hr {
    color: var(--accent);
    opacity: 70%;
    height: 0;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: var(--link-hover);
    text-transform: uppercase;
}

a:visited {
    color: var(--link-visited);
}

nav a {
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 2px 8px;
}

nav a:visited {
    color: var(--link);
}

code {
    color: var(--secondary-accent);
}

/* lists */
ul {
    display: block;
    list-style-type: square;
    list-style-position: inside;
    margin: 0 2em;
    padding: 0;
    width: fit-content;
}

li {
    text-indent: -1em;
}

/* classes */
.whisper {
    color: var(--whisper-color);    
    font-style: italic;
}

.silenced {
    color: var(--whisper-color);
    text-decoration: line-through;
}

.major-update {
    animation: rainbow 4s linear infinite;
    font-style: italic;
}

.centered {
    text-align: center;
}

.h-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.v-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* animations */
.new {
    display: inline-block;

    /* animation */
    animation-name: rainbow, wobble;
    animation-duration: 2s, 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        color: hsl(0, 100%, 55%);
    } 12.5% {
        color: hsl(45, 100%, 55%);
    } 25% {
        color: hsl(90, 100%, 55%);
    } 37.5% {
        color: hsl(135, 100%, 55%);
    } 50% {
        color: hsl(180, 100%, 55%);
    } 62.5% {
        color: hsl(225, 100%, 55%);
    } 75% {
        color: hsl(270, 100%, 55%);
    } 87.5% {
        color: hsl(315, 100%, 55%);
    } 100% {
        color: hsl(360, 100%, 55%);
    }
}

@keyframes wobble {
    25% {
        transform: rotateY(55deg) rotate(-5deg);
    } 75% {
        transform: rotateY(-55deg) rotate(5deg);
    }
}


/* mobile theme */
@media (max-width: 960px) {
    body {
        background-attachment: fixed;
        height: unset!important;
        min-height: unset!important;
        overflow-y: auto;
    }
}
