:root {
    --font-size: 19px;

    --main-width: 90%;
}

body {
    overflow-y: auto;
    min-height: 100vh;
}

/* layout styles */
nav {
    display: flex;
    padding: 1em 3em;
}

main {
    background-color: #000d;
    border: var(--content-border);
    border-width: 0 1px;
    min-height: 100vh;
    margin: auto;
    width: 60%;
}

#page-content {
    padding: 1em 2em;
}

/* font/block styles */
h1 {
    margin-top: 0;
}

p.timestamp {
    margin-bottom: 0;
}

.notes > p {
    margin: initial;
}

p code, li code {
    font-size: 14px;
}

pre {
    font-size: 12px;
    margin: 1em auto;
    overflow-x: auto;
    width: 70%;
}

.hljs {
    border-radius: 5px;
}

hr.checkpoint::before {
    color: var(--font-color);
    content: "checkpoint! go practice what you've learned!";
}

#article img {
    display: block;
    margin: auto;
    width: 70%;
}

#tips-default {
    display: none;
}

.timestamp {
    font-style: italic;
    text-align: right;
}

div.notes {
    border: 1px dashed var(--accent);
    margin: 1em auto;
    padding: 0.8em 2em;
    width: 65%;
}

#article hr {
    font-size: 13px;
    height: 0;
    margin: 3em 1em;
    overflow: visible;
    text-align: right;
}

/* tips nav */
#tips-nav {
    background-color: unset;
    justify-content: space-evenly;
}

#tips-nav a {
    border: none;
}


/* mobile */
@media (max-width: 960px) {
    main {
        margin: 0 1em;
        width: unset;
    }

    #page-content {
        padding: 1em 1.5em;
    }

}
