:root {
    --font-size: 18px;

    --component-bg: #000d;
}

body {
    overflow-y: auto;
    min-height: 100vh;
}

/* layout styles */
header {
    align-items: center;
    background-color: var(--component-bg);
    border-bottom: var(--content-border);
    display: flex;
    max-height: 100px;
    padding: 1em 0;
    width: 100%;
}

#breadcrumbs {
    align-items: center;
    background-color: var(--component-bg);
    border-bottom: var(--content-border);
    display: flex;
    padding: 3px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

#breadcrumbs a, #breadcrumbs span {
    margin: 0 6px;
}

#breadcrumbs a, #breadcrumbs a:visited {
    color: var(--accent);
}

#breadcrumbs a:hover, #breadcrumbs a:visited:hover {
    color: var(--accent-glow);
}

a.nav-category {
    text-transform: uppercase;
}

main {
    background-color: var(--component-bg);
    border: var(--content-border);
    border-width: 0 1px;
    min-height: 100vh;
    min-width: 700px;
    margin: auto;
    width: 60%;
}

#page-content {
    padding: 3em 2em 1em;
}

/* font/block styles */
h1 {
    margin-top: 0;
}

p.timestamp {
    margin-bottom: 0;
}

.notes > p {
    margin: initial;
}

p code, li code {
    font-size: 14px;
}

pre {
    font-size: 12px;
    margin: 1em auto;
    overflow-x: auto;
    width: 70%;
}

.hljs {
    border-radius: 5px;
}

hr.checkpoint::before {
    color: var(--font-color);
    content: "checkpoint! go practice what you've learned!";
}

#article img {
    display: block;
    margin: auto;
    width: 70%;
}

#tips-default {
    display: none;
}

.timestamp {
    font-style: italic;
    text-align: right;
}

div.notes {
    border: 2px inset var(--accent);
    margin: 1em auto;
    padding: 0.8em 2em;
    width: 65%;
}

#article hr {
    font-size: 13px;
    height: 0;
    margin: 3em 1em;
    overflow: visible;
    text-align: right;
}


/* mobile */
@media (max-width: 960px) {
    main {
        margin: 0 1em;
        padding-top: 2em;
        width: unset;
    }

    #page-content {
        padding: 1em 1.5em;
    }

    pre {
        width: 100%;
    }

}
