:root {
    --main-width: 45%;
    --win-background: #000d
}

/* font/block styles */
.notes > p {
    margin: initial;
}

p code, li code {
    font-size: 14px;
}

pre {
    font-size: 12px;
    margin: 1em auto;
    overflow-x: auto;
    width: 70%;
}

.hljs {
    border-radius: 5px;
}

/* overall site nav ... change? */
nav {
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 0.5em;
}

#nav-win {
    top: 30%;
    left: 5%;
    width: unset;
}


/* main window */
#tips-win {
    bottom: 0%;
    top: 0%;
    left: calc(50% - var(--main-width) / 2); /* center it! */
    max-height: none;
    width: var(--main-width);
}

#tips-win > div.content {
    font-size: 19px;
}

#article img {
    display: block;
    margin: auto;
    width: 70%;
}

#tips-default {
    display: none;
}

.timestamp {
    font-style: italic;
    text-align: right;
}

div.notes {
    border: 1px dashed var(--accent);
    margin: 1em auto;
    padding: 0.8em 2em;
    width: 65%;
}

#article hr {
    font-size: 13px;
    height: 0;
    margin: 3em 1em;
    overflow: visible;
    text-align: right;
}

#article hr::before {
    color: var(--font-color);
    content: "checkpoint! go practice what you've learned!";
}

/* tips nav */
#tips-nav {
    flex-direction: row;
}

/* footer placement */
#footer-win {
    left: 76%;
    top: 75%;
}


/* mobile */
@media (max-width: 960px) {
    #tips-win {
        min-width: 95%;
    }

    nav {
        flex-direction: row;
    }

    #article img {
        width: 95%;
    }
}
