/* styling for the markdown tool */

:root {
    --bg: #000a;
}

body {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    overflow-y: auto;
    height: 100dvh;
    padding-bottom: 1em;
    box-sizing: border-box;
}

header.tool-header {
    background-color: var(--bg);
    border-bottom: var(--content-border);
    padding: 1em 1ex;
}

main {
    gap: 1em;

    box-sizing: border-box;
    flex: 1 0 auto;
    max-width: 100%;
    padding: 0 1ex;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

section {
    background-color: var(--bg);
    border: var(--content-border);
    box-sizing: border-box;
    padding: 2em 1em;
    max-width: 100%;
}


/* INPUT styling . augh */

textarea, button, input {
    background-color: transparent;
    color: inherit;
    font: inherit;
    border: none;

    accent-color: var(--link);
}

textarea, button {
    padding: 1ex 1em;
}

textarea, input[type=text] {
    border: var(--content-border);
    box-sizing: border-box;
    width: 100%;
}

textarea {
    resize: vertical;
    margin: 0 auto;
    width: 100% !important;

    min-height: 4em;
    height: 10em;
}

button {
    background-color: var(--link);
    border-radius: 5px;
    color: black;
}

button:hover {
    background-color: var(--link-hover);
    text-transform: uppercase;
}

#custom {
    padding: 1ex 0;
    flex-direction: column-reverse;
}

#output {
    resize: vertical;
    overflow: auto;

    max-height: 500px;
    white-space: break-spaces;

    padding: 1em;
    box-sizing: border-box;
    
}

@media (max-width: 960px) {
    main {
        grid-auto-flow: row;
        grid-template-columns: none;
    }

    section {
        border-width: 1px 0;
    }

    #output {
        max-width: unset;
    }
}
